@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to right, #ADD8E6, #FFFFFF);
  --foreground: #171717;
}
/* globals.css or any global stylesheet */
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

body {
  background: #e0f7fa; /* Replace with your light blue color */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
